name: Plan Terraform

on:
  push:
    branches:
      - master

jobs:
  plan:
    if: github.event.pull_request.merged == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: hashicorp/setup-terraform@v2 
        with:
          terraform_version: 1.2.9
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_SECRET_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: terraform init
        run: cd terraform && terraform init
      - name: terraform plan
        run: cd terraform && terraform apply -auto-approve