name: Plan Terraform

on:
  issue_comment:
    types:
      - created

jobs:
  plan:
    if: ${{ contains(github.event.comment.body, 'terraform plan') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.9
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: ls
        run: ls
      - name: terraform init
        run: terraform init
      - name: terraform plan
        run: cd terraform && terraform plan -out=plan.txt
      - name: terraform_plan
        run: echo "::set-output name=PLAN::$(cat plan.txt)\n"
      - name: read plan
        run: echo "${{ steps.terraform_plan.outputs.PLAN }}"
      - uses: actions/github-script@v6
        with:
          script: |
            const {owner, repo} = context.issue
            github.reactions.createForIssueComment({
              owner,
              repo,
              comment_id: context.payload.comment.id,
              body: '${{ steps.terraform_plan.outputs.PLAN }}'
            });
